@page
@model Event.Pages.AdminPageModel

@{
    ViewData["Title"] = "AdminPage";
}

<h1 class="text-center">AdminPage</h1>
<hr />
<div class="text-center">
    <div>
        <form method="post">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Is Organizer</th>
                    </tr>
                </thead>
                <tbody>
                    @{ 
                        foreach (var user in Model.UsersAndRoles)
                        {
                            <tr>
                                <td>@user.User.UserName</td>
                                <td>@user.User.Email</td>
                                <td>@{
                                    if (user.Organizer)
                                    {
                                        <input type="checkbox" checked="checked" name="Organizer" value="@user.User.UserName" />
                                    }
                                    else {
                                        <input type="checkbox" name="Organizer" value="@user.User.UserName"/>
                                    }
                                }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div style="display:none;">
                @{ 
                    foreach (var organizer in Model.UsersAndRoles)
                    {
                        if (organizer.Organizer)
                        {
                            <input asp-for="PrevOrganizer" value="@organizer.User.UserName"/>
                        }
                    }
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
