@page
@model Event.Pages.JoinEventModel

@{
    ViewData["Title"] = "JoinEvent";
}

<h1>JoinEvent</h1>

<div class="jumbotron">
    <h1 class="display-4"> @Model.Event.Title</h1>
    <p class="lead">@Model.Event.Description</p>
    <hr class="my-4">
    <p class="font-weight-bold">Location:  @Model.Event.Place</p>
    <hr class="my-4">
    <p class="font-weight-bold">Address:  @Model.Event.Address)</p>
    <hr class="my-4">
    <p class="font-weight-bold">Date: @Model.Event.Date</p>
    <hr class="my-4">
    <p class="font-weight-bold">Date the event was created: @Model.Event.SpotsAvailable </p>
</div>

<hr />


<div>
    @*@{
        if (!Model.Event.MyUser.Contains(Model.attendee))
        {
            <form method="post">
                <input type="submit" value="Join Event" />
            </form>
        }
        else
        {
            <p>You've already joined this event</p>
        }
    }*@
    <a asp-page="./Events">Back</a>
</div>
@{
    if (Request.Method == "POST")
    {
        <div class="text-center bg-success">
            <h3>You just joined an event. See all your upcoming events <a asp-page="./MyEvents">here</a> or <a asp-page="./Events">find other events</a></h3>
        </div>
    }
}