@page
@model Event.Pages.JoinEventModel

@{
    ViewData["Title"] = "JoinEvent";
}

<h1>JoinEvent</h1>

<div class="jumbotron ">
    <h1 class="display-4 text-center"> @Model.Event.Title</h1>
    <p class="lead text-center">@Model.Event.Description</p>
    <hr class="my-4 text-center">
    <p class="font-weight-bold text-center">Location:  @Model.Event.Place</p>
    <hr class="my-4 text-center">
    <p class="font-weight-bold text-center">Address:  @Model.Event.Address)</p>
    <hr class="my-4">
    <p class="font-weight-bold text-center">Date: @Model.Event.Date</p>
    <hr class="my-4">
    <p class="font-weight-bold text-center">Spots available: @Model.Event.SpotsAvailable </p>
</div>

<hr />

@{
    if (Request.Method == "POST")
    {
        if (Model.Joined)
        {
            <div class="d-flex flex-column py-2">
                <h2 class="text-center">You just joined   @Model.Event.Title!!</h2>
                <div class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center">
                        <a asp-page="/Events" type="button" class="btn btn-outline-primary">View More Events</a>
                        <a asp-page="/MyEvents" type="button" class="btn btn-outline-primary">View Your Events</a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="d-flex flex-column py-2">
                <h2 class="text-center">You just left @Model.Event.Title</h2>
                <div class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center">
                        <a asp-page="/Events" type="button" class="btn btn-outline-primary">View Other Events</a>
                        <a asp-page="/MyEvents" type="button" class="btn btn-outline-primary">View Your Events</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        if (!Model.Joined)
        {
            <form asp-route-id="@Model.Event.Id">
                <div class="d-flex justify-content-center">
                    <input type="submit" class="btn btn-outline-primary" value="Join This Event" />
                </div>
            </form>
        }
        else
        {
        <form asp-route-id="@Model.Event.Id">
            <div class="d-flex justify-content-center">
                <input asp-page-handler="Delete" asp-route-id="@Model.Event.Id" type="submit" class="btn btn-outline-primary" value="Leave Event" />
            </div>
        </form>
        }
    }
}



